---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Music from '../components/Music.astro';
import Concerts from '../components/Concerts.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Jean Dubois - Musicien">
  <Navigation />
  <main>
    <Hero />
    <Music />
    <Concerts />
    <Contact />
  </main>
</Layout>