<section id="concerts" class="py-20 bg-neutral-50">
  <div class="container mx-auto px-6">
    <h2 class="font-playfair text-4xl md:text-5xl text-center mb-16 text-neutral-900">SPECTACLES</h2>
      <div class="max-w-3xl mx-auto space-y-6" id="seated-55fdf2c0" data-artist-id="75c60439-038f-4d0c-8668-64cc24386b07" data-css-version="3"></div><script src="https://widget.seated.com/app.js"></script>
  </div>
</section>