---
import CartButton from './CartButton.astro';
const links = [
  { href: "/", text: "ACCUEIL" },
  { href: "/#musique", text: "MUSIQUE" },
  /*{ href: "/#concerts", text: "SPECTACLES" },*/
  { href: "/#contact", text: "CONTACT" },
];
---

<header class="fixed w-full bg-white/80 backdrop-blur-sm z-50 border-b border-neutral-100">
  <nav class="container mx-auto px-6 py-4">
    <ul class="flex justify-center space-x-8">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              class="text-neutral-900 hover:text-primary-600 transition-colors duration-300"
            >
              {link.text}
            </a>
          </li>
        ))
      }
      <li class="ml-4">
        <CartButton />
      </li>
    </ul>
  </nav>
</header>