---
import '@fontsource/inter/400.css';
import '@fontsource/inter/600.css';
import '@fontsource/archivo/400.css';
import '@fontsource/archivo/600.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23475749%22></rect><path fill=%22%23fff%22 d=%22M71.87 52.02L72.59 59.05Q72.68 60.48 73.27 66.29Q73.85 72.09 73.85 75.97L73.85 75.97Q73.85 81.00 72.68 81.36L72.68 81.36Q72.32 81.45 71.51 81.45L71.51 81.45Q69.53 81.45 66.61 80.51Q63.68 79.56 61.39 78.13Q59.09 76.69 58.73 75.33L58.73 75.33Q58.37 73.98 58.37 63.99L58.37 63.99Q48.65 65.16 45.59 65.44L45.59 65.44Q43.16 72.55 40.01 81.00L40.01 81.00Q37.58 81.55 35.51 81.55L35.51 81.55Q31.91 81.55 29.44 79.79Q26.96 78.03 26.15 74.44L26.15 74.44L27.95 70.38Q37.85 48.34 45.09 33.40Q52.34 18.45 54.50 18.45L54.50 18.45Q56.21 18.45 59.50 19.72Q62.78 20.98 65.44 22.77Q68.09 24.58 68.45 26.02L68.45 26.02Q69.08 28.54 70.16 36.55Q71.24 44.55 71.87 52.02L71.87 52.02ZM58.10 32.49Q54.14 41.85 50.27 52.56L50.27 52.56Q54.41 52.30 58.46 51.75L58.46 51.75Q58.46 39.34 58.10 32.49L58.10 32.49Z%22></path></svg>" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white text-neutral-900 font-inter">
    <slot />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>